HELO:<[127.0.0.1]>
FROM:<josia@gmail.com>
TO:<user2@nestjs.com>

From: josia@gmail.com
To: user2@nestjs.com
Subject: Reset your password
Message-ID: <b5764cf9-b5d2-ff71-fd78-658abd7aeb08@gmail.com>
Content-Transfer-Encoding: quoted-printable
Date: Fri, 06 Mar 2026 04:56:15 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

Click <a href=3D"http://localhost:3000/reset/0ch9ic5efj">here</a> to reset =
your password