HELO:<[127.0.0.1]>
FROM:<josia@gmail.com>
TO:<user2@nestjs.com>

From: josia@gmail.com
To: user2@nestjs.com
Subject: Reset your password
Message-ID: <c4d9e43e-26ae-7b2d-3d44-998ead523650@gmail.com>
Content-Transfer-Encoding: quoted-printable
Date: Tue, 03 Mar 2026 14:58:35 +0000
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

Click <a href=3D"http://localhost:3000/reset/g60jbg85ba">here</a> to reset =
your password